@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Jost:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: rgb(255, 255, 255);
}

h4 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

h6 {
    font-weight: 700;
    font-size: 12px;
    color: white;
}

p {
    font-size: 16px;
    color: #c6ccca;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
    background-color: black;
    border-top: solid 1px;
    border-color: white;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}


/* header */

a {
    text-decoration: none;
}

.logo {
    font-family: 'Dancing Script', cursive;
    color: white;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    border-bottom: solid 1px;
    border-color: white;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a{
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    opacity: 0.5;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar.active {
    right: 0px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/* Home Page */

#hero {
    background-image: url(img/xWZg-5VWxCsrKf71RC_Mrw5Kxj16VZG1jnpGvbrMoHUvEQUQVwfPGiesr3bVXOvrYw5j0L6HetUt8_XOMwP6_qW8.jpg);
    height: 90vh;
    width: 100%;
    /* background-size: cover; */
    background-position: top 25% right -50%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}


#hero h1 {
    color: #b1aeae;
}

#hero button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: solid 2px;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#hero button:hover {
    background-color: #ffffff;
    color: black;
    transition: 1s;
}



#product1 {
    text-align: center;
    background-color: black;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap
}


#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 10px 10px rgb(48, 48, 48);
    margin: 15px 0;
    position: relative;
}



#product1 .pro img {
    width: 100%;
}


#product1 .pro .desc {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .desc span{
    color: #bbbbbb;
    font-size: 14px;
}

#product1 .pro .desc h5 {
    padding-top: 7px;
    color: rgb(208, 208, 208);
    font-size: 16px;
}

#product1 .pro .desc h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    
}

#product1 .pro .desc .cart {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid;
    padding: 5px 10px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;

}

#product1 .pro .desc .cart:hover {
    background-color: #ffffff;
    color: black;
    transition: 0.5s;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}


footer p {
    font-size: 16px;
    margin: 0 0 8px 0;
}

footer .logo {
    margin-bottom: 30px;
}

footer a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 0 0 8px 0;
}

.icon ul li {
    list-style: none;
}

.icon ul li a{
    color: #c6ccca;
}



#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    padding: 15px 20px;
    border: solid 1px;
    color: white;
}

#pagination a i {
    font-size: 16px;
    font-weight: 700;
}


/* single prod */

#prodetails {
    display: flex;
}



#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
    font-size: 30px;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details h6 {
    font-size: 25px;
}


#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
    border: solid 1px
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    color: white;
    background-color: transparent;
    border: solid 1px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}


#prodetails .cart {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid;
    padding: 12px 10px;
    cursor: pointer;
}

#prodetails .single-pro-details span{
    line-height: 25px;
    color: white;
}


/* about page */

#about-head img {
    width: 50%;
    height: auto;
    border: 1px solid;
    border-color: white;
}


#about-head {
    display: flex;
    align-items: center;
}

#about-head  div {
    padding-left: 40px;
}

i {
    color: white;
}


/* contact page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#contact-details .details {
    width: 40%;
}

#contact-details .details span, #form-details form span {
    font-size: 16px;
    color: rgb(215, 215, 215);
}

#contact-details .details h2, #form-details form h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 20px;
    padding-bottom: 15px;
    color: rgb(171, 171, 171);
}

#contact-details .details li {
    list-style: none;
    color: white;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 18px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 18pz;
}

#contact-details .map {
    width: 55%;
    height: 400px;
    border: 1px solid;
    border-color: white;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 80px;
    border-top: 1px solid;
    border-color: white;
}


#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea
{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: white;
    background-color: transparent;
    color: white;
}

#form-details button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}

#form-details button:hover {
    background-color: #ffffff;
    color: black;
    transition: 1s;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 17px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: white;
}


/* cart */

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    color: white;
    /* border: 1px solid;
    border-color: white; */
}
 
#cart table img {
    width: 70px;
}
 
#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4) {
    width: 350px;
    text-align: center;
}

#cart table thead {
    border: 1px solid white;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 17px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3, #subtotal h3 {
    padding-bottom: 15px;
    color: white;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

#coupon button, #subtotal button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 16px;
}

#coupon button:hover, #subtotal button:hover {
    background-color: #ffffff;
    color: black;
    transition: 1s;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid white;
    padding: 10px;
    font-size: 17px;
    color: white;
}

#cartItem i {
    cursor: pointer;
}

#cartItem i:hover {
    color: #7c7c7c;
    transform: scale(1.5);
    transition: 0.5s;
}




/* Media */

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: black;
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i, a{
        color: white;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        /* background-size: cover; */
        padding: 0 80px;
        background-position: top 30% right 85%;
    }
    
    #product1 .pro-container {

        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    /* contact */

    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
}


@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }
    #header .logo {
        font-size: 35px;
    }

    #hero {
        padding: 0 20px;
    }

    /* single prod */

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }


    
    /* about page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }


    /* contact */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

}
